<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Fast food</title>
</head>
<body>
<div class="container pt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/index}">Dishes list</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Update dish
            </div>
            <div class="card-body">
                <form th:action="@{/updateDish}" method="POST" th:object="${dish}">
                    <input type="hidden" name="id" th:field="*{id}">
                    <input type="hidden" name="name" th:field="*{name}">
                    <div class="form-group">
                        <label>Ingredients
                            <textarea rows="6" cols="50" class="form-control" name="ingredients" autocomplete="off"
                                      required th:field="*{ingredients}"></textarea>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Price
                            <input type="number" class="form-control" name="price" th:field="*{price}"
                                   required>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>